.banner {
    margin-right: auto;
    margin-left: auto;
    margin-top: 3.75rem;
    margin-bottom: 0;
    border-radius: 3.125rem;
    background-color: #196C84;
    box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.25);
    width: 80%;
    height: 29.9375rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    & .ciudadanosTexto {
        width: 90%;
        font-family: 'Raleway', sans-serif;
        font-size: 60px;
        font-weight: 700;
        letter-spacing: -0.02em;
        text-align: left;
        color: #0C3944;
    }
}
.Parrafo {
    margin-top: 80px;
}
.sub {
    width: 285px;
    height: 237px;
    font-family: Raleway;
    font-weight: bold;
    line-height: 70px;
    /* or 133% */
    display: flex;
    align-items: center;
    /* BLACNO */
    color: #FFFFFF;
    font-size: 3rem;
}

.title {
    font-size: 70px;
    color: #E36164;
    margin-left: 3.9375rem;
    font-weight: 700;
}

.participar {
    position: absolute;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 40px;
    /* or 133% */
    display: flex;
    align-items: center;
    /* BLACNO */
    color: #FFFFFF;
}
.Cabeza {
    margin-right: 1px;
    width: 536px;
}
.ayuda {
    margin-top: 6.25rem;
    color: #0C3944;
    & h1 {
        font-family: Raleway;
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
    }
    & h1 span {
        font-size: 4rem;
        margin-left: 2rem;
    }
    & p {
        width: 437px;
        font-family: Raleway;
        font-size: 24px;
        font-weight: 500;
        line-height: 30px;
        text-align: left;
        margin-top: 2.3125rem;
        margin-bottom: 6.25rem;
    }
}

.buttonBanner {
    padding: 20px 40px;
    border-radius: 80px;
    border: none;
    background-color: rgba(255, 243, 13, 1);
    font-weight: 700;
    color: rgba(25, 108, 132, 1);
    font-size: 1.125rem;
    margin-bottom: 1rem;
}
.formulario {
    width: 80%;
}
.olEmprendedores {
    height: 240px;
    width: 480px;
    margin-top: 1.875rem;
}

.art {
    color: #FFFFFF;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
}

.containerComoAyudar {
    display: flex;

    & h2 {
        font-family: 'Raleway', sans-serif;
        font-size: 30px;
        font-weight: 700;
        line-height: 40px;
        text-align: left;
        color: rgba(25, 108, 132, 1);
        margin-right: 3.75rem;
    }

    & h2 span {
        font-size: 3rem;
        margin-left: 1rem;
    }

    p {
        font-family: "Raleway", sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 30px;
        text-align: left;
        color: rgba(25, 108, 132, 1);
        width: 30rem;
    }
}

.contenedorCategorias {
    display: flex;
    justify-content: center;

    & .categoryList {
        display: flex;

        & li {
            padding: 3.625rem 2rem;
            text-align: center;
            border-radius: 0 0 150px 150px;
            z-index: -99;
            margin-right: 1rem;
        }

        & .blanco {
            background-color: rgba(243, 243, 243, 1);
        }

        & .turquesa {
            background-color: rgba(99, 198, 198, 1);
        }

        & .amarillo {
            background-color: rgba(252, 246, 160, 1);
        }

        & .rosa {
            background-color: #E36164;
        }

        & .verde {
            background-color: rgba(193, 233, 78, 1);
        }
    }
}

.cardCategoria {
    display: flex;
    height: 20.437499rem;
    width: 49.020838rem;
    /* rojito claro */
    background: #E36164;
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    max-width: 90%;
    margin-top: 6.125rem;
    /* Sombra CARD ÓVALO */
    box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.25);
    border-radius: 10rem;

    &>* {
        font-family: 'Raleway', sans-serif;
    }

    & img {
        width: 256px;
        margin: 2.25rem;
    }

    & article {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    & h3 {
        font-weight: 700;
        font-size: 2.25rem;
        margin-left: 7.3125rem;
        margin-bottom: 1.3125rem;
    }

    & p {
        font-weight: 700;
        font-size: 1.125rem;
        margin-left: 7.3125rem;
        width: 70%;
    }

}

.contenedorCarousel {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3.8125rem;
    margin-bottom: 2rem;
}

.btnCards {
        padding: 10px 20px;
        transform: translate(700%);
        border-radius: 80px;
        border: 2px solid rgba(25, 108, 132, 1);
        background-color: transparent;
        font-weight: 700;
        color: rgba(25, 108, 132, 1);
        font-size: .875rem;
}

.owl-next span {
    font-size: 3.125rem;
}

.title2{
    font-family: Raleway;
    margin-left: 63px;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    margin-top: 36px;
    margin-bottom: 2.1875rem;
    display: flex;
    align-items: center;
    color: rgba(12, 57, 68, 1);

/* AZULVERDOSO */

color: #0C3944;

}
.imgHerramienta {
    // height: 242px;
    width: 332px;
    margin: 0!important;
    margin-left: 3rem!important;

}

.formBorder {
    margin-right: auto;
    margin-left: auto;
    margin-top: 3.75rem;
    margin-bottom: 3.75rem;
    display: flex;
    flex-direction: column;
    width: 69.4375rem;
    /* BLACNO */
    background: #FFFFFF;
    border: 4px solid #E36164;
    box-sizing: border-box;
    /* Sombra CARD ÓVALO */
    box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    & img {
        height: 318px;
        margin-left: 12.5rem;
    }
}

.inputForm {
    border: 2px solid #196C84;
    box-sizing: border-box;
    height: 63px;
    padding-left: .625rem;
    border-radius: 12px;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    width: 382px;
}

.info {
    color: #196C84;
    font-size: 20px;
    margin-top: 2rem;
}
.form {
    margin-left: 3.9375rem;
    width: fit-content;
    margin-top: 2.375rem;
}
.btnContinuar {
    padding: 20px 100px;
    border-radius: 80px;
    border: none;
    background-color: rgba(25, 108, 132, 1);
    font-weight: 700;
    color: white;
    font-size: 1.125rem;
    margin-bottom: 1rem;
    transform: translateX(250%);
    margin-bottom: 1.875rem;
}

.categorias{
    background: #FFFFFF;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 100px;
    /* Inside Auto Layout */
    display: flex;
    justify-content: center;
    order: 0;
    flex-grow: 0;
    margin: 0px 67px
}

.datos{
    font-family: Raleway;
    margin-left: 63px;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    /* identical to box height, or 118% */

    display: flex;
    align-items: center;

/* AZULVERDOSO */

color: #0C3944;
}

.circulo{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: rgba(227, 97, 100, 1);
    /* Sombra CARD ÓVALO */
    box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.25);
    border-radius: 45px;
    & li {
        padding: 1rem 3rem;
        margin-right: 5rem;
        margin-bottom: 1rem;
        margin-top: 1rem;
        border-radius: 50%;
        color: rgba(25, 108, 132, 1);
        background-color: white;
        font-size: 3.75rem;
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
    }
    & li:first-child {
        margin-left: 3rem;
        color: white;
        background-color: rgba(25, 108, 132, 1);
    }
}

.formBorder2{
    margin-right: auto;
    margin-left: auto;
    margin-top: 3.75rem;
    margin-bottom: 3.75rem;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-right: 225px;
    width: 1111px;
    height: 1290px;
    right: 225px;
    left: 164px;
    top: 210px;

    /* BLACNO */

    background: #FFFFFF;
    border: 4px solid #E36164;
    box-sizing: border-box;
    /* Sombra CARD ÓVALO */

    box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
}

.btnCards2{
    padding: 20px 150px;
    border-radius: 80px;
    border: none;
    background-color: rgba(25, 108, 132, 1);
    font-weight: 700;
    color: white;
    font-size: 1.125rem;
    margin-bottom: 1rem;
    margin-bottom: 1.875rem;
    margin-left: 18rem;
    margin-top: 4rem;
}
    

.containerImagen {
    background-image: url(../assets/imagenRegistro.png);
    background-size: cover;
}
.containerBienvenida {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-left: 10.3125rem;
    width: 635px;
    &>* {
        font-family: 'Raleway', sans-serif;
    }
    & h2 {
        font-weight: 700;
        color: rgba(25, 108, 132, 1);
        font-size: 3.75rem;
        padding-top: 3.75rem;
    }
    & h3 {
        font-weight: 500;
        font-size: 1.875rem;
        color: rgba(25, 108, 132, 1);
        padding-bottom: 1.9375rem;
    }
    & p {
        font-size: 15px;
        font-weight: 500;
        line-height: 31px;
        text-align: center;
    }
}
.registrarRetoBlanco {
    padding: 1.3125rem 2.285rem;
    border-radius: 80px;
    border: 2px solid #196C84;
    font-weight: 700;
    color: #196C84;
    background-color: white;
    margin-bottom: 5.5625rem;
}
.registrarRetoAzul {
    margin-bottom: 1.8125rem;
    padding: 1.3125rem 3.685rem;
    border-radius: 80px;
    border:none;
    font-weight: 700;
    color: white;
    background-color: #196C84;
}

.contForm {
    & > * {
        color: rgba(12, 57, 68, 1);
    }
    & h2 {
        margin: 1.5rem;
        margin-left: 0;
    }
    & p {
        font-family: Raleway;
        font-size: 18px;
        font-weight: 500;
        line-height: 30px;
        width: 80%;
    }
    position: relative;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 3.75rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    height: 45rem;
    border-radius: 50px;
    /* BLACNO */
    background: #FFFFFF;
    border: 4px solid #E36164;
    box-sizing: border-box;
    /* Sombra CARD ÓVALO */
    box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.25);
    margin-top: -40px;
    & img {
        width: 25.4375rem;
    }
    & label {
        margin-top: 1rem;
    }
}


.contDesafio {
    width: 90%;
    margin-left: auto;
    z-index: 1;
    margin-right: auto;
    margin-top: 5.125rem;
    height: 35.4375rem;
    background-color: rgba(227, 97, 100, 1);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.25);

    border-radius:150px 150px 0 0 ;
    img {
        position: absolute;
        width: 10.8125rem;
        top: 30%;
        left: 25%;
    }
    & >* {
        color: rgba(12, 57, 68, 1);
    }
    & h2 {
        font-family: Raleway;
        font-size: 60px;
        font-weight: 700;
        line-height: 20px;
    }
    & p{
        padding-bottom: 15px;
        text-align: left;
    }
}
.contReto {
    background-color: white;
    position: relative;
    border-radius: 100px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    width: 27.8125rem;
    & h4 {
        padding: 2rem 0 1rem 3.5rem;
        font-weight: 700;
    }
    & p {
        font-family: Raleway;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        padding: 3rem;
        padding-top: 0;
        padding-bottom: 1rem;
    }
    & img {
        height: 310px;
        width: 310px;
        top: -60%;
        left: 110%;
    }
}

.bordecito{
    & > * {
        color: rgba(12, 57, 68, 1);
    }
    & h2 {
        margin: 1.5rem;
        margin-left: 0;
    }

.ahoraSi {
    margin-left: 3.9375rem;
}
.textArea {
    border: 2px solid #196C84;
    padding-left: .625rem;
    border-radius: 12px;
    width: 382px;
    margin-top: 0;
}
.contCategoriasReto {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    & button {
        border: 2px solid #196C84;
        margin-left: 4.1875rem;
        margin-bottom: 30px;
        padding: 1rem 2rem;
        cursor: pointer;
    }

}
    & p {
        font-family: Raleway;
        font-size: 18px;
        font-weight: 500;
        line-height: 30px;
        width: 80%;
    }
    position: relative;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 3.75rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    height: 45rem;
    border-radius: 50px;
    /* BLACNO */
    background: #FFFFFF;
    border: 4px solid #E36164;
    box-sizing: border-box;
    /* Sombra CARD ÓVALO */
    box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.25);
    margin-top: -40px;
    & img {
        width: 25.4375rem;
    }
    & label {
        margin-top: 1rem;
    }
}


.title3{
    font-family: Raleway;
    margin-left: 63px;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    /* identical to box height, or 118% */
    margin-top: 36px;
    margin-bottom: 2.1875rem;
    display: flex;
    align-items: center;
    color: rgba(12, 57, 68, 1);

/* AZULVERDOSO */

color: #0C3944;

}

.parrafo{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
